/* .projectBtn {
  background-color: #6f42c1;
  color: white;
  margin: 0 10px;
  border: none;
}

.projectBtn:hover {
  background-color: red;
  color: white;
  margin: 0 10px;
  border: none;
} */

.buttonContainer {
  display: flex;
  justify-content: center;
}
